*{
	margin: 0;
	padding: 0;
}
#header{
	height: 100vh;
	background-image: url(images/background.png);
	background-position:center;
	background-size: cover;
    
    }
h1{
	
	margin-top: -740px;
	font-size: 2em;
	margin-left: 11px;
	position: relative;


}

a {
  text-decoration: none; }
 
}
.logo{
	color: black;
}
.header-text{

    position: absolute;
    margin-top: 457px;
    margin-left: 311px;
    margin-right: 311px;
}
.header-text-1 {
    position: absolute;
    margin-left: 635px;
    margin-right: 320px;
    margin-top: 154px;
     animation: backspin 1s ease;
}
.header-text-1 img:hover{
	animation: spin 1s ease;
    animation-fill-mode: forwards;

}

@keyframes spin { 
    from { 
        transform: rotate(0deg) scale(1);
    } to { 
        transform: rotate(720deg) scale(1.1); 
    }
}

@keyframes backspin { 
    from { 
        transform: rotate(720deg) scale(1.1);
    } to { 
        transform: rotate(0deg) scale(1); 
    }
}
.common-btn{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 594px;
opacity: 1;
 font-size: 1.2rem
}
.common-btn-1{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 34px;
opacity: 1;
 font-size: 1.2rem
}
#sideNav{
    width:250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top:0;
    background: black;
    z-index: 2;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menubtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}












