*{
	margin: 0;
	padding: 0;
}
#header{
	height: 100vh;
	background-image: url(images/background.png);
	background-position:center;
	background-size: cover;
    
    }
h1{
	
	margin-top: -740px;
	font-size: 2em;
	margin-left: 11px;
	position: relative;


}

a {
  text-decoration: none; }
 
}
.logo{
	color: black;
    top: 0px;
}
.header-text{

    position: absolute;
    margin-top: 457px;
    margin-left: 311px;
    margin-right: 311px;
}
.header-text-1 {
    position: absolute;
    margin-left: 635px;
    margin-right: 320px;
    margin-top: 154px;
     animation: backspin 1s ease;
}
.header-text-1 img:hover{
	animation: spin 1s ease;
    animation-fill-mode: forwards;

}

@keyframes spin { 
    from { 
        transform: rotate(0deg) scale(1);
    } to { 
        transform: rotate(720deg) scale(1.1); 
    }
}

@keyframes backspin { 
    from { 
        transform: rotate(720deg) scale(1.1);
    } to { 
        transform: rotate(0deg) scale(1); 
    }
}
.common-btn{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 594px;
opacity: 1;
 font-size: 1.2rem
}
.common-btn-1{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 34px;
opacity: 1;
 font-size: 1.2rem
}
#sideNav{
    width:380px;
    
    position: fixed;
    right: -380px;
    top:-26px;
    background: none;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 49px 0px;
    display:inline-block;


}
nav ul li a{
     font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color:white;
    border-radius: 15%;
    box-shadow: 2px 2px rgb(146, 126, 52);
    padding: 5px 5px;
    background-color: rgb(15,22,38);
}
#menubtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 9px;
    z-index: 2;
    cursor: pointer;
}












