*{
	margin: 0;
	padding: 0;

}
#header{
	height: 100vh;
	background-image: url(images/background.png);
	background-position:center;
	background-size: cover;
    
    
    }
h1{
	
	margin-top: -705px;
	font-size: 2em;
	margin-left: 11px;
	


}

a {
  text-decoration: none; }
 
}
.logo{
	color: black;
    top: 0px;
}
.header-text{

    position: absolute;
    margin-top: 457px;
    margin-left: 311px;
    margin-right: 311px;
}
.header-text-1 {
    position: absolute;
    margin-left: 635px;
    margin-right: 320px;
    margin-top: 154px;

    animation: backspin 1s ; 
     
}


.logo-rotate  img:hover{
    animation: spin 1s ;
    }

@keyframes spin { 
    from { 
        transform: rotate(0deg) scale(1);
    } to { 
        transform: rotate(720deg) scale(1.1); 
    }
}

@keyframes backspin { 
    from { 
        transform: rotate(720deg) scale(1.1);
    } to { 
        transform: rotate(0deg) scale(1); 
    }
}

.common-btn{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 594px;

 font-size: 1.2rem;
}
.common-btn-1{
 padding: 0.6rem 1rem;
  border-radius: 100px; 
background: none;
outline: none;
border:3px solid black;
font-weight:900;
cursor: pointer;
 margin-top: 598px;
margin-left: 34px;

 font-size: 1.2rem
}
#sideNav{
    width:380px;
    
    position: fixed;
    right: -380px;
    top:-26px;
    background: none;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 49px 0px;
    display:inline-block;


}
nav ul li a{
     font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color:white;
    border-radius: 15%;
    box-shadow: 2px 2px rgb(146, 126, 52);
    padding: 5px 5px;
    background-color: rgb(15,22,38);
}
#menubtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 9px;
    z-index: 2;
    cursor: pointer;
}
.rounds{
    width: 100%;
    background: whitesmoke;
    padding: 3rem 5rem;
    box-sizing: border-box;
}
.cards{
    
    display: flex;
    
    background: white;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.about-right-col{
    flex-basis: 50%;
    margin-left: 1000px
}
.about-right-col img
{
    max-width: 356px;
    height: 315px;
     clip-path: polygon(50% 0%,0% 100%,100% 100%,100% 0%);
}
.about-left-col{
 flex-basis: 50%;
}
.about-text{

    margin-top: 440px;
    margin-left: 11px;
}
.about-text h1{

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid #3f3c3d;
}
.about-text p{
  
    font-size: 1.4rem;
    font-weight: 100;
    color: grey;
    margin-top: 0.5rem;
    margin-left: 12px;
}
.about-text .btn{
    margin-top: 2.2rem;
    margin-left: 12px;

}
.about-text a{
     text-decoration: none;
    color: #004d40;
    font-size: 1.2rem;
    font-weight: 200;
    border: 1px solid #004d40;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.about-text a:hover{
    color: seashell;
    background: #004d40;
}

/*second box*/

.cards-1{
    
    display: flex;

    background: white;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 42px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.about-right-col-1{
    flex-basis: 50%;
  margin-top: 311px;
    
}
.about-left-col-1 img
{
    max-width: 356px;
    height: 315px;

  clip-path: polygon(0% 0%,0% 100%,100% 100%,50% 0%);
    
}
.about-left-col-1{
 flex-basis: 50%;

}
.about-text-1{

    margin-top: 440px;
    margin-left: 11px;
}
.about-text-1 h1{

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid #3f3c3d;
}
.about-text-1 p{
  
    font-size: 1.4rem;
    font-weight: 100;
    color: grey;
    margin-top: 0.5rem;
    margin-left: 12px;
}
.about-text-1 .btn{
    margin-top: 2.2rem;
    margin-left: 12px;

}
.about-text-1 a{
     text-decoration: none;
    color: #004d40;
    font-size: 1.2rem;
    font-weight: 200;
    border: 1px solid #004d40;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.about-text-1 a:hover{
    color: seashell;
    background: #004d40;
}

/*round3*/

.cards-3{
    
    display: flex;
    
    background: white;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    margin-top: 42px;
}
.about-right-col-3{
    flex-basis: 50%;
    margin-left: 1000px
}
.about-right-col-3 img
{
    max-width: 356px;
    height: 315px;
     clip-path: polygon(50% 0%,0% 100%,100% 100%,100% 0%);
}
.about-left-col-3{
 flex-basis: 50%;
}
.about-text-3{

    margin-top: 440px;
    margin-left: 11px;
}
.about-text-3 h1{

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid #3f3c3d;
}
.about-text-3 p{
  
    font-size: 1.4rem;
    font-weight: 100;
    color: grey;
    margin-top: 0.5rem;
    margin-left: 12px;
}
.about-text-3 .btn{
    margin-top: 2.2rem;
    margin-left: 12px;

}
.about-text-3 a{
     text-decoration: none;
    color: #004d40;
    font-size: 1.2rem;
    font-weight: 200;
    border: 1px solid #004d40;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.about-text-3 a:hover{
    color: seashell;
    background: #004d40;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #00695c;
    height: 10rem;
    overflow: hidden;
}
footer .footer-img{
    height: 100%;
    width: 100%;
    background-image: url(./images/footer.png);
    animation: scale 5s alternate infinite;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
.footer-logos{
    position: absolute;
    display: flex;
    margin-top: 3rem;
    border-bottom: 1px dotted white;
}

footer .copyright{
    position: relative;
    width: 100%;
    background: #004d40;
}
footer .copyright h6{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.4rem;
    color: #FAFAFA;
}
.footer-logos ul li {
    display: inline-block;

}
.footer-logos ul li a {
    color: white;
    
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    padding: 9px;
}
.fa-twitter:before {
    content: "\f099";
    padding: 9px;
}











